@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html, body, #root {
        @apply h-full w-full 		
    }
}

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: #dbdbdb;
    background: transparent;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #dbdbdb;
    border-radius: 10px;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #dbdbdb;
  }
  .swiper-container {
    width: 480px;
  }
  
  
  
}
.slick-prev, .slick-next{
  color:currentColor !important;
  
} 
.form-floating > .form-control:not(:placeholder-shown)~label{
  opacity: .60;
  transform: scale(0.85) translateY(-0.25rem);  

} 
.form-floating > .form-control:not(:placeholder-shown){
  padding-top:1.625rem;
  padding-bottom: 0.625rem;
} 