@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html, body, #root {
        @apply h-full w-full 		
    }
}

@layer utilities {
    .scrollbar::-webkit-scrollbar {
      width: 10px;
      height: 10px;
    }
  
    .scrollbar::-webkit-scrollbar-track {
      border-radius: #dbdbdb;
      background: transparent;
    }
  
    .scrollbar::-webkit-scrollbar-thumb {
      background: #dbdbdb;
      border-radius: 100vh;
    }
  
    .scrollbar::-webkit-scrollbar-thumb:hover {
      background: #dbdbdb;
    }
  }
